# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump

# Visual Studio generated
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
/Assets/Audio/actions/sword_twohand.mp3.meta
/Assets/Audio/actions/sword_dagger.mp3.meta
/Assets/Audio/actions/attack_throwingknife.mp3.meta
/Assets/Audio/actions/attack_energyrepeating.mp3.meta
/Assets/Audio/actions/attack_energylong.mp3.meta
/Assets/Audio/actions/attack_bow.mp3.meta
